<%- include('partials/common/header.ejs') %>

<div id="wrapper">
  <%- include('partials/common/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <%- include('partials/common/topbar.ejs', {title: title}) %>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <%- include('partials/common/filterYear.ejs') %>

        <!-- KPIS -->
        <div class="d-flex flex-row justify-content-between mb-4">
          <div class="col">
            <% if(currentAssets !== null && nonCurrentAssets !== null) { %> <%-
            include ('partials/financial/financial_kpi.ejs', {type: 'Assets',
            value: (currentAssets.total+nonCurrentAssets.total)/100000 }) %> <%
            } else { %> <%- include ('partials/financial/financial_kpi.ejs',
            {type: 'Assets', value: '-'}) %> <% } %>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col">
            <% if(equity !== null ) { %> <%- include
            ('partials/financial/financial_kpi.ejs', {type: 'Liabilities',
            value: liabilities.total/100000 }) %> <% } else { %> <%- include
            ('partials/financial/financial_kpi.ejs', {type: 'Liabilities',
            value: '-'}) %> <% } %>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col">
            <% if(equity !== null ) { %> <%- include
            ('partials/financial/financial_kpi.ejs', {type: 'Equity', value:
            equity.total/100000 }) %> <% } else { %> <%- include
            ('partials/financial/financial_kpi.ejs', {type: 'Equity', value:
            '-'}) %> <% } %>
          </div>
        </div>

        <div class="d-flex flex-row justify-content-between mb-4">
          <div class="col">
            <% if(accountsReceivable !== null) { %> 
              <%- include('partials/financial/financial_kpi.ejs', {type: 'Accounts Receivable', value: (accountsReceivable/100000).toFixed(2)}) %>
              <% } else { %> 
              <%- include('partials/financial/financial_kpi.ejs', {type: 'Accounts Receivable', value: "-"})%> 
              <% } %>
          </div>
          <div class="col">
            <% if(accountsPayable !== null) { %> 
              <%- include('partials/financial/financial_kpi.ejs', {type: 'Accounts Payable', value: (accountsPayable/100000).toFixed(2)}) %>
              <% } else { %> 
              <%- include('partials/financial/financial_kpi.ejs', {type: 'Accounts Payable', value: "-"})%> 
              <% } %>
          </div>
        </div>

        <!-- Content Row -->
        <div class="row">

          <div class="col-lg-6 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Balance Sheet</h4>
              </div>
              <div class="card-body">
                <div id="balanceSheet" class="container">
                  <ul class="nav nav-tabs">
                    <li style="padding: 0.5rem">
                      <a href="#assets" data-toggle="tab">Assets</a>
                    </li>
                    <li style="padding: 0.5rem">
                      <a href="#liabilities" data-toggle="tab">Liabilities</a>
                    </li>
                    <li style="padding: 0.5rem">
                      <a href="#equity" data-toggle="tab">Equity</a>
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active" id="assets">
                      <p style="margin-bottom: 0" class="text-center small">
                        Assets
                      </p>
                      <table
                        class="table"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>ID</th>
                            <th>Value (€M)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(currentAssets !== null && nonCurrentAssets !==
                          null) { %> <% currentAssets.asset.forEach(asset =>{ %>
                          <% if(asset.value !== 0) { %> <%-
                          include('partials/financial/bs_assets', {asset:
                          asset}); %> <% } %> <% }); %> <%
                          nonCurrentAssets.asset.forEach(asset =>{ %> <%
                          if(asset.value !== 0) { %> <%-
                          include('partials/financial/bs_assets', {asset:
                          asset}); %> <% } %> <% }); %> <% } %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Total (€M)</th>
                            <th></th>
                            <% if(currentAssets !== null && nonCurrentAssets !==
                            null ) { %>
                            <th>
                              <%- Math.round(((currentAssets.total +
                              nonCurrentAssets.total)/100000)*100)/100 %>
                            </th>
                            <% } %>
                          </tr>
                        </tfoot>
                      </table>
                    </div>

                    <div class="tab-pane" id="liabilities">
                      <p style="margin-bottom: 0" class="text-center small">
                        Liabilities
                      </p>
                      <table
                        class="table"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>ID</th>
                            <th>Value (€M)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(liabilities !== null) { %> <%
                          liabilities.current.forEach(account =>{ %> <%
                          if(account.value !== 0) { %> <%-
                          include('partials/financial/bs_liabilities', {account:
                          account}); %> <% } %> <% }); %> <%
                          liabilities.nonCurrent.forEach(account =>{ %> <%
                          if(account.value !== 0) { %> <%-
                          include('partials/financial/bs_liabilities', {account:
                          account}); %> <% } %> <% }); %> <% } %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Total (€M)</th>
                            <th></th>
                            <% if(liabilities !== null) { %>
                            <th>
                              <%-
                              Math.round(((liabilities.total)/100000)*100)/100
                              %>
                            </th>
                            <% } %>
                          </tr>
                        </tfoot>
                      </table>
                    </div>

                    <div class="tab-pane" id="equity">
                      <p style="margin-bottom: 0" class="text-center small">
                        Equity
                      </p>
                      <table
                        class="table"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>ID</th>
                            <th>Value (€M)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(equity !== null) { %> <%
                          equity.accounts.forEach(account =>{ %> <%
                          if(account.value !== 0) { %> <%-
                          include('partials/financial/bs_equity', {account:
                          account}); %> <% } %> <% }); %> <% } %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Total (€M)</th>
                            <th></th>
                            <% if(equity !== null) { %>
                            <th>
                              <%- Math.round(((equity.total)/100000)*100)/100 %>
                            </th>
                            <% } %>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Approach -->
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!--<script src="/js/fiscalYearFilter.js" defer></script>-->

<%- include('partials/common/footer.ejs') %>
